{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Name</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for share in shares %}
                    <tr>
                        <td class="text-start">{{ share.symbol }}</td>
                        <td class="text-start">{{ share.name }}</td>
                        <td class="text-end">{{ share.shares }}</td>
                        <td class="text-end">{{ share.price }}</td>
                        <td class="text-end">{{ share.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">{{ cash }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Total</td>
                    <td class="border-0 w-bold text-end">{{ total_cash }}</td>
                </tr>
            </tfoot>

        </table>
    </div>
{% endblock %}